@use './utils/mixins' as *;

.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(/src/images/header--bg--mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include on-tablet {
    background-image: url(../../images/header--bg-tablet.png);
  }

  @include on-desktop {
    background-image: url(/src/images/header--desktope.png);
  }

  &__content {
    @include content-padding-inline;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    width: 279px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    color: var(--color-white);
    text-align: center;
    margin: 0;

    @include on-tablet {
      width: 600px;
      color: #fff;
      font-family: Roboto, sans-serif;
      font-size: 64px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: -4.9px;
      text-align: center;
    }
  }
}
