@use './utils/mixins' as *;

.icon {
  display: block;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(1.2));

  @media (min-width: 576px) {
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url(/src/images/icons/Icon-Phone.png);
  }
  &--menu {
    background-image: url(/src/images/icons/Icon-Burger-menu.png);

    &:hover {
      background-image: url(/src/images/icons/Icon-Burger-menu-hover.png);
    }
  }

  &--close {
    background-image: url(/src//images/icons/Icon-Close.png);
  }
}
