@use './utils/mixins' as *;

.move-free {
  &__content {
    --columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    gap: 32px 20px;

    @include on-tablet {
      --columns: 6;

      gap: 0 24px;
    }

    @include on-desktop {
      --columns: 12;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin: 0;
    text-align: left;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: 1 / 6;
    }
  }

  &__text {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 23px;
    font-weight: 500;
    line-height: 140%;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-desktop {
      grid-column: 6 / 11;
      margin-bottom: 44px;
    }
  }
}
