@use './utils/mixins' as *;

.section-title {
  margin: 0;
  text-align: center;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -1.5px;

  @include on-tablet {
    margin-bottom: 64px;
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 64px;
  }

  &--aling--left {
    text-align-last: left;
  }
}

.main {
  background-color: #1d1d1d;
}
